#!/bin/bash

export SLACK_A_API_TOKEN=xoxp-xxxxxxxxxx-xxxxxxxxxx-xxxxxxxxxx-xxxxxx
export SLACK_B_API_TOKEN=xoxp-xxxxxxxxxx-xxxxxxxxxx-xxxxxxxxxx-xxxxxx

export SLACK_A_1=random
export SLACK_B_1=general

export SLACK_A_2=hoge
export SLACK_B_2=huga
